header{
	width: 100%;
	background-color:#db0a5b;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}
h1{
  font-size: 42px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
}
